In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import FunctionTransformer
from sklearn.pipeline import make_pipeline
from sklearn import svm, linear_model
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import roc_curve, auc,f1_score
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from collections import defaultdict
import unicodedata
import random
random.seed(37)
import gensim
from gensim.models import Word2Vec
from annoy import AnnoyIndex

In [2]:
pd.set_option('display.max_colwidth', -1)

In [3]:
path = "/home/akash/projects/data_analysis/ing/data/"

In [4]:
companies = pd.read_csv(path+"G.csv", delimiter="|")
train = pd.read_csv(path+"STrain.csv", delimiter="|")

In [5]:
companies.head()

   company_id                        name
0  634022      PRIMCOM SA
1  324497      The David Isaacs Fund
2  280848      Bramor Enterprises Limited
3  432662      NAVEXIM S.A.
4  524224      Magal Group SA

In [6]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450256 entries, 0 to 450255
Data columns (total 2 columns):
company_id    450256 non-null int64
name          450256 non-null object
dtypes: int64(1), object(1)
memory usage: 6.9+ MB

In [7]:
train.head()

,train_index,name,company_id
0,0,TRATTAMENTO Ltd RIFIUTI METROPOLITANI SPA SIGLABILE TRM SPA,177358
1,1,A IRL Fuund,568472
2,2,BMR-500 Kendall LLC 1 Mezz GmbH,195692
3,3,Solich GmbH KG,-1
4,4,Drzyzzga Funds Logi. sp. z oo,404178

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
train_index    100000 non-null int64
name           100000 non-null object
company_id     100000 non-null int64
dtypes: int64(2), object(1)
memory usage: 2.3+ MB

In [9]:
test = pd.read_csv(path+"STest.csv", delimiter=",")
test.head()

   test_index                                        name
0  0           THEking'S ROYAL HUSSARS OFFI. TRUST' TRUST
1  1           Southern Powe rcompany SICAV
2  2           BMO S&P/TSX Ladde. Share ETF Index
3  3           PaI
4  4           Clearview Two

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
test_index    100000 non-null int64
name          99999 non-null object
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [11]:
print train.columns
print test.columns

Index([u'train_index', u'name', u'company_id'], dtype='object')
Index([u'test_index', u'name'], dtype='object')

In [12]:
print train.shape
print train["name"].nunique()

(100000, 3)
99365

In [13]:
print test.shape
print test["name"].nunique()

(100000, 2)
99323

In [14]:
print len(set(test["name"]) & set(train["name"]))

1075

In [15]:
companies = companies.reset_index(drop=True)
companies.head()

   company_id                        name
0  634022      PRIMCOM SA
1  324497      The David Isaacs Fund
2  280848      Bramor Enterprises Limited
3  432662      NAVEXIM S.A.
4  524224      Magal Group SA

#### Sample Data

In [16]:
# orig_size = len(companies)
# sample_size = 200000 
# companies = companies.sample(sample_size)

In [17]:
# train_0 = train.loc[train["company_id"]==-1]
# print train_0.shape

# train_1 = train.loc[train["company_id"]>=0]
# print train_1.shape

In [18]:
# train = train_1.loc[train_1["company_id"].isin(companies["company_id"])]
# print train.shape

In [19]:
# train0_sample = train_0.sample(int(sample_size/float(orig_size)*len(train_0)))
# print len(train0_sample)

In [20]:
# train = pd.concat([train,train0_sample])

In [21]:
train.shape

(100000, 3)

In [22]:
train = train.reset_index(drop=True)
train.head()

,train_index,name,company_id
0,0,TRATTAMENTO Ltd RIFIUTI METROPOLITANI SPA SIGLABILE TRM SPA,177358
1,1,A IRL Fuund,568472
2,2,BMR-500 Kendall LLC 1 Mezz GmbH,195692
3,3,Solich GmbH KG,-1
4,4,Drzyzzga Funds Logi. sp. z oo,404178

#### Make map of company_ids to Annoy_index_ids

In [23]:
# annoy_ids are from 0 to len(company_ids) -1 
# annoy_ids are stored in list. List index are annoy_ids and the value is teh correspodnign company_id
# Company_ids are stored in a dict. The key is company id and the value is annoy_id
def build_company_annoy_maps(company_ids):
    annoy2company = []
    company2annoy = defaultdict(lambda:0)
    for c_id in company_ids:
        if c_id not in company2annoy:
            annoy2company.append(c_id)
            company2annoy[c_id] = len(annoy2company)-1
    return annoy2company, company2annoy

In [24]:
annoy2company, company2annoy = build_company_annoy_maps(companies["company_id"].values)

In [25]:
print len(annoy2company)
print len(company2annoy)

450256
450256

In [26]:
import random
for i in range(5):
    annoy_id = random.randint(0,50000)
    assert annoy_id ==  company2annoy[annoy2company[annoy_id]]
    print annoy_id, annoy2company[annoy_id], company2annoy[annoy2company[annoy_id]]

34100 198710 34100
4580 484544 4580
30891 320028 30891
42096 89805 42096
41728 232717 41728

In [27]:
def remove_accents(df,**kw_args):
    old_col =  kw_args["old_col"]
    new_col =  kw_args["new_col"]
    def remove_accents_inner(input_str):
        nfkd_form = unicodedata.normalize('NFKD', unicode(input_str, 'utf8'))
        return u"".join([c for c in nfkd_form if not unicodedata.combining(c)])
    
    df[new_col] = df[old_col].apply(remove_accents_inner)
    return df

def make_accent_transformer(old_col, new_col):
    return FunctionTransformer(remove_accents, validate=False,
                                         kw_args={"old_col":old_col,"new_col":new_col})

In [28]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /home/akash/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [29]:
import re
REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]|@,;\-\\\+#~!$%^]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z ]')
STOPWORDS = set(stopwords.words('english'))
#-#+_!`~\\

In [30]:
s = "for from india and add+g-ddc.b.g,c\g-hh ak|ash#sin/gh dee$pt^a su%d"
s=re.sub(REPLACE_BY_SPACE_RE," ",s)
s= re.sub(BAD_SYMBOLS_RE,"",s)
s= ' '.join(word for word in s.split() if word not in STOPWORDS)
print s

india add g ddcbg c g hh ak ash sin gh dee pt su

In [31]:
def clean_name(df,**kw_args):
    old_col =  kw_args["old_col"]
    new_col =  kw_args["new_col"]
    
    def regex_clean(text):
        text = re.sub(REPLACE_BY_SPACE_RE, " ", text)
        text = re.sub(BAD_SYMBOLS_RE, "", text)
#         #add shorthand
#         longhand = ' '.join(word for word in text.split() if not any(c.isdigit() for c in word))
#         shorthand = "".join(word[0] for word in re.findall("\w+", longhand))
#         text = text+" "+shorthand
        return text
    
    df[new_col] = df[old_col].str.lower().str.strip()
    df[new_col] = df[old_col].apply(regex_clean)
    
    return df

def make_clean_name_transformer(old_col, new_col):
    return FunctionTransformer(clean_name, validate=False, kw_args={"old_col":old_col,"new_col":new_col})

In [32]:
name_pipeline = make_pipeline(make_accent_transformer("name", "clean_name"),
                                    make_clean_name_transformer("clean_name", "clean_name"))
companies = name_pipeline.transform(companies)

In [33]:
companies.sample(10)

,company_id,name,clean_name
72291,245672,Redwood Capital Bank,redwood capital bank
46731,547523,W.J. Thijn Stichting,wj thijn stichting
174399,283043,"Washington Gardens Plantation, LLC",washington gardens plantation llc
98868,379243,GENEDRIVE PLC,genedrive plc
301109,543762,PYME VALENCIA 1 FTA,pyme valencia 1 fta
93697,537995,LEXELL,lexell
205431,32903,TEHATTA HOLDINGS LIMITED,tehatta holdings limited
416788,409946,"Petersen Bros., Inc.",petersen bros inc
307423,446826,Aarslev Skovgård/Laust Bie,aarslev skovgard laust bie
346428,412894,DISMAG,dismag

In [34]:
print companies.shape
print companies["clean_name"].nunique()

(450256, 3)
448231

In [35]:
train.head()

,train_index,name,company_id
0,0,TRATTAMENTO Ltd RIFIUTI METROPOLITANI SPA SIGLABILE TRM SPA,177358
1,1,A IRL Fuund,568472
2,2,BMR-500 Kendall LLC 1 Mezz GmbH,195692
3,3,Solich GmbH KG,-1
4,4,Drzyzzga Funds Logi. sp. z oo,404178

In [36]:
print train.shape
train.sample(10)

(100000, 3)

,train_index,name,company_id
57053,57053,NNL,608558
50544,50544,Sarak Fastigheter AB,533371
72321,72321,Providence TMT Special Fundsituations L.P.,-1
75318,75318,Focus UAB,167145
87871,87871,"""uBASF POLSKA"" SPÓŁKA Z ODPO.",484642
10321,10321,CFORA METAL Global,567081
810,810,MetLifereinsurance Carolina of South Inc Company,461217
16725,16725,"UNIV., THE CMI GLOBAL NETWORK FUND - CMI GERMAN EQUITY SUB-FUND",533991
60269,60269,POWSZ. TOWA RZYSTWOinwestycyjne S.A.,442384
65646,65646,Cnnell Bros. CHKL International,320341

In [37]:
from collections import Counter
count_vectorizer = CountVectorizer(analyzer='word', ngram_range=(1, 1), min_df=1)
# X matrix where the row represents sentences and column is our one-hot vector for each token in our vocabulary
X = count_vectorizer.fit_transform(companies["clean_name"])

# Vocabulary
vocab = list(count_vectorizer.get_feature_names())

# Column-wise sum of the X matrix.
# It's some crazy numpy syntax that looks horribly unpythonic
# For details, see http://stackoverflow.com/questions/3337301/numpy-matrix-to-array
# and http://stackoverflow.com/questions/13567345/how-to-calculate-the-sum-of-all-columns-of-a-2d-numpy-array-efficiently
counts = X.sum(axis=0).A1

freq_distribution = Counter(dict(zip(vocab, counts)))

In [38]:
print (freq_distribution.most_common(100))

[(u'llc', 44288), (u'fund', 38551), (u'limited', 34803), (u'gmbh', 29272), (u'inc', 24952), (u'bv', 21019), (u'srl', 20646), (u'trust', 20440), (u'ltd', 16548), (u'sa', 15202), (u'co', 12984), (u'lp', 11681), (u'global', 11272), (u'de', 10292), (u'the', 10220), (u'company', 10159), (u'funds', 9906), (u'kg', 9865), (u'holding', 9770), (u'ab', 9459), (u'investment', 8335), (u'sl', 7666), (u'capital', 7485), (u'international', 7283), (u'equity', 6886), (u'di', 6700), (u'holdings', 6683), (u'of', 6680), (u'spa', 6663), (u'group', 6212), (u'as', 6092), (u'ii', 6061), (u'sicav', 5883), (u'management', 5723), (u'investments', 5456), (u'aps', 5192), (u'portfolio', 4959), (u'bond', 4854), (u'partners', 4848), (u'societa', 4605), (u'invest', 4526), (u'and', 4211), (u'oy', 4152), (u'sro', 4143), (u'bank', 3981), (u'plc', 3861), (u'services', 3851), (u'income', 3848), (u'master', 3799), (u'corporation', 3747), (u'nv', 3573), (u'beheer', 3568), (u'mbh', 3509), (u'spoka', 3506), (u'ag', 3479), (u'settlement', 3331), (u'series', 3274), (u'asset', 3227), (u'etf', 3223), (u'fonds', 3183), (u'europe', 3182), (u'credit', 3158), (u'us', 3081), (u'und', 3062), (u'uk', 3029), (u'properties', 3014), (u'sp', 2970), (u'sas', 2925), (u'in', 2895), (u'index', 2853), (u'energy', 2847), (u'street', 2815), (u'finance', 2742), (u'snc', 2719), (u'real', 2631), (u'public', 2604), (u'markets', 2541), (u'rl', 2510), (u'aktiebolag', 2493), (u'pty', 2451), (u'emerging', 2417), (u'van', 2403), (u'multi', 2368), (u'trading', 2365), (u'iii', 2326), (u'growth', 2325), (u'estate', 2320), (u'tarsasag', 2298), (u'solutions', 2260), (u'korlatolt', 2237), (u'partnership', 2233), (u'felelossegu', 2225), (u'pension', 2175), (u'euro', 2142), (u'opportunities', 2138), (u'oo', 2129), (u'ograniczona', 2127), (u'odpowiedzialnoscia', 2116), (u'for', 2112), (u'property', 2076)]

In [39]:
train = name_pipeline.transform(train)

In [40]:
train.sample(10)

,train_index,name,company_id,clean_name
75813,75813,ABERDEEN PRIVATE EQUITY MANAGERS LIMITED,614554,aberdeen private equity managers limited
87288,87288,INVERNIZZI LUCIANO & FvIGLI S.P.A.,600698,invernizzi luciano fvigli spa
9251,9251,Stahlgruber Ottog. AG,-1,stahlgruber ottog ag
22655,22655,GAoERIE ENRICO NAVARRA,-1,gaoerie enrico navarra
9301,9301,VCI,188349,vci
24876,24876,DAS AHUS S.R.L.,436081,das ahus srl
88339,88339,MI-FONDS F95,138767,mi fonds f95
96882,96882,Aretea Special Inc Marit imeenterprise,-1,aretea special inc marit imeenterprise
49862,49862,Cb Holding ApS Hanstholm,-1,cb holding aps hanstholm
98963,98963,"2020, L.C.",382712,2020 lc

In [41]:
import gensim
assert gensim.models.doc2vec.FAST_VERSION > -1

In [42]:
companies.head(10)

,company_id,name,clean_name
0,634022,PRIMCOM SA,primcom sa
1,324497,The David Isaacs Fund,the david isaacs fund
2,280848,Bramor Enterprises Limited,bramor enterprises limited
3,432662,NAVEXIM S.A.,navexim sa
4,524224,Magal Group SA,magal group sa
5,513585,Marly SPF S.A.,marly spf sa
6,354496,I.T APPARELS LIMITED,it apparels limited
7,381944,VX 30.141 ApS,vx 30141 aps
8,526057,Rydex ETF Trust - Guggenheim S&P 500 Equal Weight ETF,rydex etf trust guggenheim sp 500 equal weight etf
9,34381,Rydex Series Funds - Retailing Fund,rydex series funds retailing fund

In [43]:
b='student ddg dfs'
n=4
print [b[i:i+n] for i in range(len(b)-n+1)]

['stud', 'tude', 'uden', 'dent', 'ent ', 'nt d', 't dd', ' ddg', 'ddg ', 'dg d', 'g df', ' dfs']

#### SETTINGS

In [44]:
n_grams=[2,3]
dim =400
window =5
min_count=5
workers=4
num_trees_annoy=300

In [45]:
def make_corpus(names, n_grams= [3]):
    corpus = []
    for name in names:
        name_grams = []
        for n in n_grams:
            name_grams.extend([name[i:i+n] for i in range(len(name)-n+1)])
        corpus.append(name_grams)
    return corpus

In [46]:
def make_name_vectors(corpus):
    name_vectors = np.empty(shape=(len(corpus),dim))
    for idx, name in enumerate(corpus):
        name_vector = name_to_vec(name, model.wv)
        name_vectors[idx,:] = name_vector
    return name_vectors

In [47]:
def name_to_vec(name, embeddings, dim=dim):
    """
        name: a string
        embeddings: dict where the key is a word and a value is its' embedding
        dim: size of the representation

        result: vector representation for the question
    """
    
    result = np.zeros(shape=dim)
    count = 0
    for word in name:
        if word in embeddings:
            result = result + embeddings[word]
            count+=1
    
    if count>0:
        result = result/count
        
    return result

In [48]:
company_corpus = make_corpus(companies["clean_name"], n_grams)

In [49]:
len(company_corpus)

450256

In [50]:
companies.head()

   company_id                        name                  clean_name
0  634022      PRIMCOM SA                  primcom sa
1  324497      The David Isaacs Fund       the david isaacs fund
2  280848      Bramor Enterprises Limited  bramor enterprises limited
3  432662      NAVEXIM S.A.                navexim sa
4  524224      Magal Group SA              magal group sa

In [51]:
company_corpus[0:5]

[[u'pr',
  u'ri',
  u'im',
  u'mc',
  u'co',
  u'om',
  u'm ',
  u' s',
  u'sa',
  u'pri',
  u'rim',
  u'imc',
  u'mco',
  u'com',
  u'om ',
  u'm s',
  u' sa'],
 [u'th',
  u'he',
  u'e ',
  u' d',
  u'da',
  u'av',
  u'vi',
  u'id',
  u'd ',
  u' i',
  u'is',
  u'sa',
  u'aa',
  u'ac',
  u'cs',
  u's ',
  u' f',
  u'fu',
  u'un',
  u'nd',
  u'the',
  u'he ',
  u'e d',
  u' da',
  u'dav',
  u'avi',
  u'vid',
  u'id ',
  u'd i',
  u' is',
  u'isa',
  u'saa',
  u'aac',
  u'acs',
  u'cs ',
  u's f',
  u' fu',
  u'fun',
  u'und'],
 [u'br',
  u'ra',
  u'am',
  u'mo',
  u'or',
  u'r ',
  u' e',
  u'en',
  u'nt',
  u'te',
  u'er',
  u'rp',
  u'pr',
  u'ri',
  u'is',
  u'se',
  u'es',
  u's ',
  u' l',
  u'li',
  u'im',
  u'mi',
  u'it',
  u'te',
  u'ed',
  u'bra',
  u'ram',
  u'amo',
  u'mor',
  u'or ',
  u'r e',
  u' en',
  u'ent',
  u'nte',
  u'ter',
  u'erp',
  u'rpr',
  u'pri',
  u'ris',
  u'ise',
  u'ses',
  u'es ',
  u's l',
  u' li',
  u'lim',
  u'imi',
  u'mit',
  u'ite',
  u'ted'],
 [u'na',
  u'av',
  u've',
  u'ex',
  u'xi',
  u'im',
  u'm ',
  u' s',
  u'sa',
  u'nav',
  u'ave',
  u'vex',
  u'exi',
  u'xim',
  u'im ',
  u'm s',
  u' sa'],
 [u'ma',
  u'ag',
  u'ga',
  u'al',
  u'l ',
  u' g',
  u'gr',
  u'ro',
  u'ou',
  u'up',
  u'p ',
  u' s',
  u'sa',
  u'mag',
  u'aga',
  u'gal',
  u'al ',
  u'l g',
  u' gr',
  u'gro',
  u'rou',
  u'oup',
  u'up ',
  u'p s',
  u' sa']]

In [52]:
print gensim.models.doc2vec.FAST_VERSION

1

In [53]:
model = Word2Vec(company_corpus, size=dim, window=window, min_count=min_count, workers=workers)
model.wv

In [54]:
model.wv

In [55]:
model.wv["llc"].size

300

In [56]:
company_vectors = make_name_vectors(company_corpus)

In [57]:
company_vectors[0:5]

array([[ 0.29744164, -0.31892795,  0.02504915, ..., -0.02284963,
        -0.33021586,  0.03254006],
       [ 0.00308102,  0.14935247,  0.31973143, ...,  0.22377759,
        -0.34552417,  0.21090331],
       [ 0.3201684 ,  0.43908448,  0.23285988, ..., -0.02601147,
        -0.35725095, -0.01262979],
       [-0.05307632,  0.14373445,  0.30242449, ..., -0.41301112,
        -0.2799158 ,  0.17310317],
       [ 0.54007183,  0.09744463,  0.20262157, ..., -0.08723755,
        -0.10712737, -0.54897497]])

In [58]:
index_size = dim
table = AnnoyIndex(index_size)

for i in range(company_vectors.shape[0]):
    if i%20000==0:
        print "indexed %s items"%i
    table.add_item(i,company_vectors[i])

indexed 0 items
indexed 20000 items
indexed 40000 items
indexed 60000 items
indexed 80000 items
indexed 100000 items
indexed 120000 items
indexed 140000 items
indexed 160000 items
indexed 180000 items
indexed 200000 items
indexed 220000 items
indexed 240000 items
indexed 260000 items
indexed 280000 items
indexed 300000 items
indexed 320000 items
indexed 340000 items
indexed 360000 items
indexed 380000 items
indexed 400000 items
indexed 420000 items
indexed 440000 items

In [59]:
table.build(num_trees_annoy)

True

In [60]:
table.save("annoy_w2vec_index.ann")

True

In [61]:
table = AnnoyIndex(index_size)
table.load("annoy_w2vec_index.ann")

True

#### Reteiveal

In [62]:
train = train.merge(companies, how="left", on="company_id", suffixes=('','_truth'))

In [63]:
train.head()

,train_index,name,company_id,clean_name,name_truth,clean_name_truth
0,0,TRATTAMENTO Ltd RIFIUTI METROPOLITANI SPA SIGLABILE TRM SPA,177358,trattamento ltd rifiuti metropolitani spa siglabile trm spa,TRATTAMENTO RIFIUTI METROPOLITANI S.P.A. SIGLABILE TRM S.P.A.,trattamento rifiuti metropolitani spa siglabile trm spa
1,1,A IRL Fuund,568472,a irl fuund,ITALIAN CREDIT SOCIETA' A RESPONSABILITA' LIMITATA,italian credit societa a responsabilita limitata
2,2,BMR-500 Kendall LLC 1 Mezz GmbH,195692,bmr 500 kendall llc 1 mezz gmbh,BRE-BMR-500 Kendall Mezz 1 LLC,bre bmr 500 kendall mezz 1 llc
3,3,Solich GmbH KG,-1,solich gmbh kg,NaN,NaN
4,4,Drzyzzga Funds Logi. sp. z oo,404178,drzyzzga funds logi sp z oo,Drzyzga Logistics Group sp. z o.o.,drzyzga logistics group sp z oo

In [64]:
train_corpus = make_corpus(train["clean_name"], n_grams)

In [65]:
train_corpus[0:5]

[[u'tr',
  u'ra',
  u'at',
  u'tt',
  u'ta',
  u'am',
  u'me',
  u'en',
  u'nt',
  u'to',
  u'o ',
  u' l',
  u'lt',
  u'td',
  u'd ',
  u' r',
  u'ri',
  u'if',
  u'fi',
  u'iu',
  u'ut',
  u'ti',
  u'i ',
  u' m',
  u'me',
  u'et',
  u'tr',
  u'ro',
  u'op',
  u'po',
  u'ol',
  u'li',
  u'it',
  u'ta',
  u'an',
  u'ni',
  u'i ',
  u' s',
  u'sp',
  u'pa',
  u'a ',
  u'  ',
  u' s',
  u'si',
  u'ig',
  u'gl',
  u'la',
  u'ab',
  u'bi',
  u'il',
  u'le',
  u'e ',
  u' t',
  u'tr',
  u'rm',
  u'm ',
  u' s',
  u'sp',
  u'pa',
  u'tra',
  u'rat',
  u'att',
  u'tta',
  u'tam',
  u'ame',
  u'men',
  u'ent',
  u'nto',
  u'to ',
  u'o l',
  u' lt',
  u'ltd',
  u'td ',
  u'd r',
  u' ri',
  u'rif',
  u'ifi',
  u'fiu',
  u'iut',
  u'uti',
  u'ti ',
  u'i m',
  u' me',
  u'met',
  u'etr',
  u'tro',
  u'rop',
  u'opo',
  u'pol',
  u'oli',
  u'lit',
  u'ita',
  u'tan',
  u'ani',
  u'ni ',
  u'i s',
  u' sp',
  u'spa',
  u'pa ',
  u'a  ',
  u'  s',
  u' si',
  u'sig',
  u'igl',
  u'gla',
  u'lab',
  u'abi',
  u'bil',
  u'ile',
  u'le ',
  u'e t',
  u' tr',
  u'trm',
  u'rm ',
  u'm s',
  u' sp',
  u'spa'],
 [u'a ',
  u' i',
  u'ir',
  u'rl',
  u'l ',
  u' f',
  u'fu',
  u'uu',
  u'un',
  u'nd',
  u'a i',
  u' ir',
  u'irl',
  u'rl ',
  u'l f',
  u' fu',
  u'fuu',
  u'uun',
  u'und'],
 [u'bm',
  u'mr',
  u'r ',
  u' 5',
  u'50',
  u'00',
  u'0 ',
  u' k',
  u'ke',
  u'en',
  u'nd',
  u'da',
  u'al',
  u'll',
  u'l ',
  u' l',
  u'll',
  u'lc',
  u'c ',
  u' 1',
  u'1 ',
  u' m',
  u'me',
  u'ez',
  u'zz',
  u'z ',
  u' g',
  u'gm',
  u'mb',
  u'bh',
  u'bmr',
  u'mr ',
  u'r 5',
  u' 50',
  u'500',
  u'00 ',
  u'0 k',
  u' ke',
  u'ken',
  u'end',
  u'nda',
  u'dal',
  u'all',
  u'll ',
  u'l l',
  u' ll',
  u'llc',
  u'lc ',
  u'c 1',
  u' 1 ',
  u'1 m',
  u' me',
  u'mez',
  u'ezz',
  u'zz ',
  u'z g',
  u' gm',
  u'gmb',
  u'mbh'],
 [u'so',
  u'ol',
  u'li',
  u'ic',
  u'ch',
  u'h ',
  u' g',
  u'gm',
  u'mb',
  u'bh',
  u'h ',
  u' k',
  u'kg',
  u'sol',
  u'oli',
  u'lic',
  u'ich',
  u'ch ',
  u'h g',
  u' gm',
  u'gmb',
  u'mbh',
  u'bh ',
  u'h k',
  u' kg'],
 [u'dr',
  u'rz',
  u'zy',
  u'yz',
  u'zz',
  u'zg',
  u'ga',
  u'a ',
  u' f',
  u'fu',
  u'un',
  u'nd',
  u'ds',
  u's ',
  u' l',
  u'lo',
  u'og',
  u'gi',
  u'i ',
  u' s',
  u'sp',
  u'p ',
  u' z',
  u'z ',
  u' o',
  u'oo',
  u'drz',
  u'rzy',
  u'zyz',
  u'yzz',
  u'zzg',
  u'zga',
  u'ga ',
  u'a f',
  u' fu',
  u'fun',
  u'und',
  u'nds',
  u'ds ',
  u's l',
  u' lo',
  u'log',
  u'ogi',
  u'gi ',
  u'i s',
  u' sp',
  u'sp ',
  u'p z',
  u' z ',
  u'z o',
  u' oo']]

In [66]:
#train_vectors = tfidf_vectorizer.transform(train["clean_name"])
train_vectors = make_name_vectors(train_corpus)

In [67]:
train_vectors[0:5]

array([[ 0.31575099,  0.30591132, -0.14162671, ..., -0.34862647,
        -0.31480219, -0.05502205],
       [ 0.69992434, -0.04381567,  0.0968002 , ...,  0.25603873,
         0.02132178,  0.65427645],
       [-0.40363997,  0.10854598, -0.08780978, ...,  0.13526529,
        -0.21051361,  0.29527278],
       [-0.02022164,  0.4876231 ,  0.2092411 , ...,  0.58622823,
        -0.1294124 ,  0.46231079],
       [-0.05229993,  0.33571559, -0.02351667, ...,  0.38758845,
         0.16435868,  0.27660724]])

In [68]:
def get_nearest_neighbours(vectors, num_neighbours=1, search_nodes=-1, include_distances=True):
    neighbours = np.empty(shape=(len(vectors),num_neighbours), dtype=np.int32)
    distances = np.empty(shape=(len(vectors),num_neighbours))
#     print len(vectors)
#     print neighbours.shape
#     print distances.shape
    for idx,v in enumerate(vectors):
        annoy_ids, annoy_distances = table.get_nns_by_vector(v, n=num_neighbours, search_k=search_nodes, include_distances=include_distances)
        neighbours[idx,:] = annoy_ids
        distances[idx,:] = annoy_distances
    return neighbours, distances

In [69]:
neighbours, distances = get_nearest_neighbours(train_vectors)

In [70]:
neigbours =np.vectorize(lambda x: annoy2company[x])(neighbours)

In [71]:
rank_1 = neigbours[:,0]
rank_1

array([177358,  24825, 195692, ..., 377115, 192951, 386428])

In [72]:
train["rank1_id"] = rank_1

In [73]:
train= train.merge(companies[['company_id', 'clean_name']], left_on="rank1_id", 
                   right_on="company_id", suffixes=("","_rank1"))

In [74]:
train

,train_index,name,company_id,clean_name,name_truth,clean_name_truth,rank1_id,company_id_rank1,clean_name_rank1
0,0,TRATTAMENTO Ltd RIFIUTI METROPOLITANI SPA SIGLABILE TRM SPA,177358,trattamento ltd rifiuti metropolitani spa siglabile trm spa,TRATTAMENTO RIFIUTI METROPOLITANI S.P.A. SIGLABILE TRM S.P.A.,trattamento rifiuti metropolitani spa siglabile trm spa,177358,177358,trattamento rifiuti metropolitani spa siglabile trm spa
1,1,A IRL Fuund,568472,a irl fuund,ITALIAN CREDIT SOCIETA' A RESPONSABILITA' LIMITATA,italian credit societa a responsabilita limitata,24825,24825,fqa fund
2,2347,PS2A Fund,-1,ps2a fund,NaN,NaN,24825,24825,fqa fund
3,5361,IHL FUND.,-1,ihl fund,NaN,NaN,24825,24825,fqa fund
4,16823,BNL FUND,560940,bnl fund,LLOYDS BANK NOMINEES LIMITED,lloyds bank nominees limited,24825,24825,fqa fund
5,17491,YTL Fund,438121,ytl fund,"YBOR Tropical, LLC",ybor tropical llc,24825,24825,fqa fund
6,17525,X STL Fund,516763,x stl fund,Spire X Trading LLC,spire x trading llc,24825,24825,fqa fund
7,23518,a HaTB FUND,-1,a hatb fund,NaN,NaN,24825,24825,fqa fund
8,25932,SAL Fund,466656,sal fund,Svitzer Australia Pty Ltd,svitzer australia pty ltd,24825,24825,fqa fund
9,35389,hMGA FUND,632543,hmga fund,MGA,mga,24825,24825,fqa fund
10,35686,AHE Fund,-1,ahe fund,NaN,NaN,24825,24825,fqa fund
11,37939,AIFL FUND,402880,aifl fund,"Accelerated International Forwarders, LLC",accelerated international forwarders llc,24825,24825,fqa fund
12,38544,S8L Fund,252386,s8l fund,"8th Street, LLC",8th street llc,24825,24825,fqa fund
13,40095,AOHL Fund,566651,aohl fund,ALLIANCE ONE HOLDINGS LIMITED,alliance one holdings limited,24825,24825,fqa fund
14,44122,APL FUND,66244,apl fund,"APB Properties, LLC",apb properties llc,24825,24825,fqa fund
15,47232,AKG Fund,531867,akg fund,ABUS Kransysteme GmbH,abus kransysteme gmbh,24825,24825,fqa fund
16,50430,AR Fund,-1,ar fund,NaN,NaN,24825,24825,fqa fund
17,52599,NSA Fund,62205,nsa fund,Stichting Natura Africae,stichting natura africae,24825,24825,fqa fund
18,56609,ATL Fund,-1,atl fund,NaN,NaN,24825,24825,fqa fund
19,71377,TECA Funds Fund,479551,teca funds fund,Active Europe Common Trust Fund,active europe common trust fund,24825,24825,fqa fund
20,73626,MBDA Fund,294356,mbda fund,MBDA,mbda,24825,24825,fqa fund
21,73944,TPL FUND.,522645,tpl fund,"TCS Property, Ltd.",tcs property ltd,24825,24825,fqa fund
22,75273,RVL Fund,-1,rvl fund,NaN,NaN,24825,24825,fqa fund
23,79509,ML Fund,-1,ml fund,NaN,NaN,24825,24825,fqa fund
24,79511,GLA FUND.,247117,gla fund,Global Ascent Ltd.,global ascent ltd,24825,24825,fqa fund
25,93341,JFSA Fund,217750,jfsa fund,JPMorgan Funds - Systematic Alpha Fund,jpmorgan funds systematic alpha fund,24825,24825,fqa fund
26,94973,FQA FUND,24825,fqa fund,FQA FUND,fqa fund,24825,24825,fqa fund
27,98784,RuA GmH FUND,131964,rua gmh fund,REIFF Reifen und Autotechnik GmbH,reiff reifen und autotechnik gmbh,24825,24825,fqa fund
28,2,BMR-500 Kendall LLC 1 Mezz GmbH,195692,bmr 500 kendall llc 1 mezz gmbh,BRE-BMR-500 Kendall Mezz 1 LLC,bre bmr 500 kendall mezz 1 llc,195692,195692,bre bmr 500 kendall mezz 1 llc
29,3,Solich GmbH KG,-1,solich gmbh kg,NaN,NaN,548888,548888,h gautzsch gmbh co kg
...,...,...,...,...,...,...,...,...,...
99970,99952,Lesir kka Oy,577991,lesir kka oy,Lesirkka Oy,lesirkka oy,577991,577991,lesirkka oy
99971,99953,MUTU ELLE JUST,557517,mutu elle just,MUTUELLE JUST,mutuelle just,557517,557517,mutuelle just
99972,99956,GILLIAN MANNgrandchildren'S TRUST Ltd,-1,gillian manngrandchildrens trust ltd,NaN,NaN,440407,440407,ian mcalpine grandchildrens trust
99973,99957,"ORTEX , spol. s ro",115370,ortex spol s ro,"ORTEX , spol. s r.o.",ortex spol s ro,115370,115370,ortex spol s ro
99974,99959,CALYPSO TAUX,-1,calypso taux,NaN,NaN,498921,498921,calypso
99975,99960,Conn. CI AB,577077,conn ci ab,Connecting Capital Invest AB,connecting capital invest ab,390161,390161,giovanni agnelli e c societa in accomandita per azioni
99976,99961,GIBALS TRUST,42225,gibals trust,GIBLAS,giblas,267587,267587,coils australia trust
99977,99962,HANAMI,-1,hanami,NaN,NaN,386954,386954,manhattan laminates ltd
99978,99963,Natixis International Funds (Lux) I - Loomis Sayles Institutional Global Corporate Bond Fund,269580,natixis international funds lux i loomis sayles institutional global corporate bond fund,Natixis International Funds (Lux) I - Loomis Sayles Institutional Global Corporate Bond Fund,natixis international funds lux i loomis sayles institutional global corporate bond fund,269580,269580,natixis international funds lux i loomis sayles institutional global corporate bond fund
99979,99964,Volksbank Meer. eG,-1,volksbank meer eg,NaN,NaN,468212,468212,volksbank jever eg
99980,99966,WS JENKINS PENSION SCHEME,49128,ws jenkins pension scheme,WS JENKINS PENSION SCHEME,ws jenkins pension scheme,49128,49128,ws jenkins pension scheme
99981,99967,Dimerco Express (Canada) Corporation,72130,dimerco express canada corporation,Dimerco Express (Canada) Corporation,dimerco express canada corporation,72130,72130,dimerco express canada corporation
99982,99970,Abacus MFP IV LP,-1,abacus mfp iv lp,NaN,NaN,67585,67585,jcf aiv p lp
99983,99972,GBSON'S CHARITY,462657,gbsons charity,GIBSON'S CHARITY,gibsons charity,462657,462657,gibsons charity
99984,99973,Aktie. Skövdebostäder,395359,aktie skovdebostader,Aktiebolaget Skövdebostäder,aktiebolaget skovdebostader,204428,204428,orebrobostader aktiebolag
99985,99974,Administradora de Consorcio RCI Equity Brasil Ltda,566768,administradora de consorcio rci equity brasil ltda,Administradora de Consorcio RCI Brasil Ltda,administradora de consorcio rci brasil ltda,566768,566768,administradora de consorcio rci brasil ltda
99986,99975,VermogensParapluFonds - RAM Emerg.,315690,vermogensparaplufonds ram emerg,VermogensParapluFonds - RAM Emerging Conservative,vermogensparaplufonds ram emerging conservative,550842,550842,vermogensparaplufonds ipm european fundamental
99987,99977,DPV S.P.A.,91735,dpv spa,DELLA PERUTA VINCENZO S.P.A.,della peruta vincenzo spa,624278,624278,cmv spa
99988,99980,Jmd igyn SC SPRL,-1,jmd igyn sc sprl,NaN,NaN,458511,458511,vd sc sprl
99989,99981,GM Holdigs U.K. No. 1 Limited,68844,gm holdigs uk no 1 limited,GM Holdings U.K. No. 1 Limited,gm holdings uk no 1 limited,104577,104577,fruk holdings no1 limited
99990,99982,"Cherry Cent ralcooperative, Inc.",615294,cherry cent ralcooperative inc,"Cherry Central Cooperative, Inc.",cherry central cooperative inc,615294,615294,cherry central cooperative inc
99991,99984,"JJ Oxford, L.L.C.",631711,jj oxford llc,"JJ Oxford, L.L.C.",jj oxford llc,631711,631711,jj oxford llc
99992,99986,ZANNINI Litd - SPA,226393,zannini litd spa,ZANNINI - S.P.A.,zannini spa,226393,226393,zannini spa
99993,99987,uLmi rama Inc.,507886,ulmi rama inc,Lumirama Inc.,lumirama inc,507886,507886,lumirama inc
99994,99988,ANATRAC Capital A & I SA,511966,anatrac capital a i sa,ANATRAC A & I SA,anatrac a i sa,180907,180907,transamerica capital inc
99995,99989,Roermondse Stic. 1880,-1,roermondse stic 1880,NaN,NaN,411598,411598,pioneer premium fond 2 pioneer investicni spolecnost as otevreny podilovy fond
99996,99990,Morningstar Shares International igh Opportunities (Hedged) Fund,65798,morningstar shares international igh opportunities hedged fund,Morningstar International Shares High Opportunities (Hedged) Fund,morningstar international shares high opportunities hedged fund,65798,65798,morningstar international shares high opportunities hedged fund
99997,99991,C.C.M. Steur Pensioen B.V.,-1,ccm steur pensioen bv,NaN,NaN,18638,18638,benidur pensioen bv
99998,99994,ANH B.V.,50400,anh bv,AEGON NEVAK Holding B.V.,aegon nevak holding bv,500856,500856,anwb bv
99999,99997,GRUPO ANTOLIN IRAUSA S.A.,-1,grupo antolin irausa sa,NaN,NaN,377115,377115,grupo satocan sa

In [75]:
print len(train)
print train.loc[train["company_id"]==train["rank1_id"]].shape
print train.loc[train["company_id"]!=train["rank1_id"]].shape

100000
(36403, 9)
(63597, 9)

In [76]:
train_sub = train.loc[train["company_id"]!=-1]
print np.sum(train_sub["company_id"] == train_sub["rank1_id"])/float(len(train_sub))

0.5219517091075935

##### Accuracy = 0.5219
* n_grams=[2,3] 
* dim =300
* window =5
* min_count=5
* workers=4
* num_trees_annoy=300