# Company Name Matching
### Approach
1. Preprocess to noramlize names: remove spaces, characters, lowercase, 
2. Build TfIdf name vectors
3. Index Using [Annoy](https://github.com/spotify/annoy)
4. Evaluate Using accuracy on non -1 companies.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import FunctionTransformer
from sklearn.pipeline import make_pipeline
from sklearn import svm, linear_model
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics import roc_curve, auc,f1_score
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from collections import defaultdict
import unicodedata
import random
random.seed(37)
from annoy import AnnoyIndex
import nltk
import re

In [2]:
pd.set_option('display.max_colwidth', -1)

In [3]:
data_path = "data/"
file_path = "files/"

In [4]:
companies = pd.read_csv(data_path+"G.csv", delimiter="|")
train = pd.read_csv(data_path+"STrain.csv", delimiter="|")

In [5]:
companies.head()

   company_id                        name
0  634022      PRIMCOM SA
1  324497      The David Isaacs Fund
2  280848      Bramor Enterprises Limited
3  432662      NAVEXIM S.A.
4  524224      Magal Group SA

In [6]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450256 entries, 0 to 450255
Data columns (total 2 columns):
company_id    450256 non-null int64
name          450256 non-null object
dtypes: int64(1), object(1)
memory usage: 6.9+ MB

In [7]:
train.head()

,train_index,name,company_id
0,0,TRATTAMENTO Ltd RIFIUTI METROPOLITANI SPA SIGLABILE TRM SPA,177358
1,1,A IRL Fuund,568472
2,2,BMR-500 Kendall LLC 1 Mezz GmbH,195692
3,3,Solich GmbH KG,-1
4,4,Drzyzzga Funds Logi. sp. z oo,404178

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
train_index    100000 non-null int64
name           100000 non-null object
company_id     100000 non-null int64
dtypes: int64(2), object(1)
memory usage: 2.3+ MB

In [9]:
test = pd.read_csv(data_path+"STest.csv", delimiter=",")
test.head()

   test_index                                        name
0  0           THEking'S ROYAL HUSSARS OFFI. TRUST' TRUST
1  1           Southern Powe rcompany SICAV
2  2           BMO S&P/TSX Ladde. Share ETF Index
3  3           PaI
4  4           Clearview Two

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
test_index    100000 non-null int64
name          99999 non-null object
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [11]:
print train.columns
print test.columns

Index([u'train_index', u'name', u'company_id'], dtype='object')
Index([u'test_index', u'name'], dtype='object')

In [12]:
print train.shape
print train["name"].nunique()

(100000, 3)
99365

In [13]:
print test.shape
print test["name"].nunique()

(100000, 2)
99323

In [14]:
print len(set(test["name"]) & set(train["name"]))

1075

### Sample Data
Here I use tf-idf vectors. Tfidf vectors are sparse and have a very high dimesnion ~15,000. Though I have used scipy sparse matrices, I cannot get sparse format to work with Annoy. Consequently I used the dense format to create indexex. This increased the index size and it became unmanagable. As a result I decided to work with only a sample of data.

1. Sample 50,000 (fraction =1/9) companies from the original company set.
2. To build train sample:
    * select all records with company id prsent in companies sample
    * Take 1/9 fraction of -1 companies

In [15]:
companies = companies.sample(50000, random_state=37)

In [16]:
companies = companies.reset_index(drop=True)
companies.head()

   company_id                                  name
0  619393      Metzler Vermögensverwaltungsfonds 70
1  587104      Hakvoort Professional B.V.
2  482637      RUDOLF WOLFF SYSTEMATIC FUND LIMITED
3  301258      Western Alliance Bancorporation
4  499801      Ivar Fors & Co AB

In [17]:
train_0 = train.loc[train["company_id"]==-1]
print train_0.shape
train_1 = train.loc[train["company_id"]>=0]

print train_1.shape

(30256, 3)
(69744, 3)

In [18]:
train = train_1.loc[train_1["company_id"].isin(companies["company_id"])]
print train.shape

(7708, 3)

In [19]:
train0_sample = train_0.sample(int((1/9.0)*len(train_0)), random_state=37)
print len(train0_sample)

3361

In [20]:
train = pd.concat([train,train0_sample])

In [21]:
train.shape

(11069, 3)

In [22]:
train = train.reset_index(drop=True)
train.head()

,train_index,name,company_id
0,5,BERK ELEY LLP,438615
1,9,RBPA Leeuw,526042
2,19,Waddell & Reed Advisors Funds - Waddell & Reed Advisors Small Cap Fund,281405
3,22,ESCO TORE S.R.L.,79550
4,72,Russell Total Return Fund.) Ltd.,351412

### Pre-process data

In [23]:
def remove_accents(df,**kw_args):
    old_col =  kw_args["old_col"]
    new_col =  kw_args["new_col"]
    def remove_accents_inner(input_str):
        nfkd_form = unicodedata.normalize('NFKD', unicode(input_str, 'utf8'))
        return u"".join([c for c in nfkd_form if not unicodedata.combining(c)])
    
    df[new_col] = df[old_col].apply(remove_accents_inner)
    return df

def make_accent_transformer(old_col, new_col):
    return FunctionTransformer(remove_accents, validate=False,
                                         kw_args={"old_col":old_col,"new_col":new_col})

In [24]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /home/akash/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [25]:
REPLACE_BY_SPACE_RE = re.compile('[/(){}\[\]|@,;\-\\\+#~!$%^]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z ]')
STOPWORDS = set(stopwords.words('english'))

In [26]:
s = "for from india and add+g-ddc.b.g,c\g-hh ak|ash#sin/gh dee$pt^a su%d"
s=re.sub(REPLACE_BY_SPACE_RE," ",s)
s= re.sub(BAD_SYMBOLS_RE,"",s)
s= ' '.join(word for word in s.split() if word not in STOPWORDS)
print s

india add g ddcbg c g hh ak ash sin gh dee pt su

In [27]:
def clean_name(df,**kw_args):
    old_col =  kw_args["old_col"]
    new_col =  kw_args["new_col"]
    
    def regex_clean(text):
        text = re.sub(REPLACE_BY_SPACE_RE, " ", text)
        text = re.sub(BAD_SYMBOLS_RE, "", text)
        #text= ' '.join(word for word in text.split() if word not in STOPWORDS)
        return text
    
    df[new_col] = df[old_col].str.lower().str.strip()
    df[new_col] = df[old_col].apply(regex_clean)
    
    return df

def make_clean_name_transformer(old_col, new_col):
    return FunctionTransformer(clean_name, validate=False, kw_args={"old_col":old_col,"new_col":new_col})

#### Make name processing pipeline

In [28]:
name_pipeline = make_pipeline(make_accent_transformer("name", "clean_name"),
                                    make_clean_name_transformer("clean_name", "clean_name"))

In [29]:
companies = name_pipeline.transform(companies)
companies.sample(10)

,company_id,name,clean_name
37157,78742,PowerShares S&P 500 High Dividend Low Volatility Index ETF,powershares sp 500 high dividend low volatility index etf
15724,571443,Bauschutz GmbH & Co. KG,bauschutz gmbh co kg
32459,50788,DAJIMA Holding B.V.,dajima holding bv
23109,435011,A.J. BRUNT LIMITED,aj brunt limited
37703,244562,FLEX.DOCCIA S.R.L.,flexdoccia srl
33840,254844,Pacific Funds Series Trust - PF Mid-Cap Value Fund,pacific funds series trust pf mid cap value fund
4904,400061,Apotheke zur Post Inh. Anette Penz e.K,apotheke zur post inh anette penz ek
26736,59118,Clipper Oil,clipper oil
31961,156980,T. Rowe Price Funds SICAV - Global Focused Growth Equity Fund,t rowe price funds sicav global focused growth equity fund
24117,472930,Metropolitan Tower Life Insurance Company,metropolitan tower life insurance company

In [30]:
print companies.shape
print companies["clean_name"].nunique()

(50000, 3)
49963

#### Pre-process train

In [31]:
train.head()

,train_index,name,company_id
0,5,BERK ELEY LLP,438615
1,9,RBPA Leeuw,526042
2,19,Waddell & Reed Advisors Funds - Waddell & Reed Advisors Small Cap Fund,281405
3,22,ESCO TORE S.R.L.,79550
4,72,Russell Total Return Fund.) Ltd.,351412

In [32]:
print train.shape

(11069, 3)

In [33]:
train = name_pipeline.transform(train)

In [34]:
train.head()

,train_index,name,company_id,clean_name
0,5,BERK ELEY LLP,438615,berk eley llp
1,9,RBPA Leeuw,526042,rbpa leeuw
2,19,Waddell & Reed Advisors Funds - Waddell & Reed Advisors Small Cap Fund,281405,waddell reed advisors funds waddell reed advisors small cap fund
3,22,ESCO TORE S.R.L.,79550,esco tore srl
4,72,Russell Total Return Fund.) Ltd.,351412,russell total return fund ltd

#### Check top occuring words

In [35]:
from collections import Counter
count_vectorizer = CountVectorizer(analyzer='word', ngram_range=(1, 1), min_df=1)
# X matrix where the row represents sentences and column is our one-hot vector for each token in our vocabulary
X = count_vectorizer.fit_transform(companies["clean_name"])

# Vocabulary
vocab = list(count_vectorizer.get_feature_names())

# Column-wise sum of the X matrix.
# It's some crazy numpy syntax that looks horribly unpythonic
# For details, see http://stackoverflow.com/questions/3337301/numpy-matrix-to-array
# and http://stackoverflow.com/questions/13567345/how-to-calculate-the-sum-of-all-columns-of-a-2d-numpy-array-efficiently
counts = X.sum(axis=0).A1

freq_distribution = Counter(dict(zip(vocab, counts)))

In [36]:
print (freq_distribution.most_common(100))

[(u'llc', 4877), (u'fund', 4281), (u'limited', 3836), (u'gmbh', 3293), (u'inc', 2717), (u'bv', 2320), (u'srl', 2307), (u'trust', 2225), (u'ltd', 1795), (u'sa', 1675), (u'co', 1445), (u'lp', 1338), (u'global', 1237), (u'de', 1146), (u'kg', 1135), (u'holding', 1124), (u'the', 1077), (u'company', 1071), (u'funds', 1068), (u'ab', 1014), (u'investment', 894), (u'sl', 831), (u'capital', 803), (u'international', 782), (u'of', 758), (u'equity', 755), (u'spa', 753), (u'di', 749), (u'holdings', 742), (u'as', 692), (u'ii', 668), (u'group', 661), (u'sicav', 660), (u'management', 602), (u'investments', 600), (u'portfolio', 564), (u'aps', 562), (u'partners', 543), (u'bond', 521), (u'societa', 521), (u'invest', 490), (u'sro', 482), (u'and', 478), (u'oy', 461), (u'bank', 446), (u'master', 435), (u'corporation', 434), (u'nv', 419), (u'services', 417), (u'plc', 412), (u'income', 411), (u'ag', 383), (u'fonds', 381), (u'beheer', 380), (u'us', 377), (u'spoka', 375), (u'settlement', 368), (u'mbh', 361), (u'uk', 355), (u'europe', 355), (u'series', 351), (u'etf', 350), (u'asset', 345), (u'index', 342), (u'credit', 339), (u'in', 339), (u'sas', 335), (u'und', 330), (u'properties', 326), (u'sp', 323), (u'energy', 317), (u'street', 316), (u'snc', 309), (u'multi', 307), (u'finance', 303), (u'public', 276), (u'real', 272), (u'trading', 268), (u'aktiebolag', 264), (u'emerging', 257), (u'rl', 256), (u'solutions', 255), (u'markets', 255), (u'iii', 253), (u'van', 252), (u'tarsasag', 251), (u'korlatolt', 245), (u'felelossegu', 245), (u'growth', 244), (u'for', 242), (u'pty', 240), (u'oo', 239), (u'pension', 238), (u'stiftung', 237), (u'opportunities', 234), (u'estate', 233), (u'partnership', 233), (u'odpowiedzialnoscia', 231), (u'ograniczona', 231), (u'property', 230)]

### Use TfidfVectorizer to generate company name vectors

In [37]:
tfidf_vectorizer = TfidfVectorizer( max_df=0.8, ngram_range=(2,3), analyzer="char",
                                       token_pattern='(\S+)', )

In [38]:
company_vectors = tfidf_vectorizer.fit_transform(companies["clean_name"])

In [39]:
type(company_vectors)

scipy.sparse.csr.csr_matrix

In [40]:
company_vectors.shape

(50000, 15375)

In [41]:
companies.tail()

,company_id,name,clean_name
49995,243419,State Street Bank and Trust Company World Index Common Trust Funds - State Street 1-3 Year U.S. Agency Index Non-Lending Common Trust Fund,state street bank and trust company world index common trust funds state street 1 3 year us agency index non lending common trust fund
49996,272569,Autobedrijf Vander Stichele NV,autobedrijf vander stichele nv
49997,17447,INVESTEC FUNDS SERIES II - AMERICAN FUND,investec funds series ii american fund
49998,431383,GLG Technology Fund,glg technology fund
49999,240428,MERSEYSIDE ESTATES LIMITED,merseyside estates limited

In [42]:
type(company_vectors[0].todense())
print np.squeeze(np.asarray(company_vectors[0].todense())).shape

(15375,)

### Indexing using Annoy.
Approximate nearest neigbour using random projections. Indexes once built are static files and can be used across processes.

#### Make map of company_ids to Annoy_index_ids

In [43]:
# annoy_ids are from 0 to len(company_ids) -1 
# annoy_ids are stored in list. List index are annoy_ids and the value is teh correspodnign company_id
# Company_ids are stored in a dict. The key is company id and the value is annoy_id
def build_company_annoy_maps(company_ids):
    annoy2company = []
    company2annoy = defaultdict(lambda:0)
    for c_id in company_ids:
        if c_id not in company2annoy:
            annoy2company.append(c_id)
            company2annoy[c_id] = len(annoy2company)-1
    return annoy2company, company2annoy

In [44]:
annoy2company, company2annoy = build_company_annoy_maps(companies["company_id"].values)

In [45]:
print len(annoy2company)
print len(company2annoy)

50000
50000

In [46]:
import random
for i in range(5):
    annoy_id = random.randint(0,50000)
    assert annoy_id ==  company2annoy[annoy2company[annoy_id]]
    print annoy_id, annoy2company[annoy_id], company2annoy[annoy2company[annoy_id]]

34100 482478 34100
4580 73643 4580
30891 185217 30891
42096 185101 42096
41728 188097 41728

#### Build annoy Index
Uncoment below code to build the index

In [47]:
# index_size = len(tfidf_vectorizer.vocabulary_)
# table = AnnoyIndex(index_size)

# for i in range(company_vectors.shape[0]):
#     if i%10000==0:
#         print "indexed %s items"%i
#     table.add_item(i,np.squeeze(np.asarray(company_vectors[i].todense())))
    
# table.build(100)
# table.save(file_path+"annoy_index.ann")

### Load index and search

In [48]:
index_size = len(tfidf_vectorizer.vocabulary_)
table = AnnoyIndex(index_size)
table.load(file_path+"annoy_index.ann")

True

#### Find neighbours of train set

##### Create training name dense vectors

In [49]:
train = train.merge(companies, how="left", on="company_id", suffixes=('','_truth'))

In [50]:
def get_nearest_neighbours(vectors, num_neighbours=1, search_nodes=-1, include_distances=True):
    neighbours = np.empty(shape=(len(vectors),num_neighbours), dtype=np.int32)
    distances = np.empty(shape=(len(vectors),num_neighbours))
#     print len(vectors)
#     print neighbours.shape
#     print distances.shape
    for idx,v in enumerate(vectors):
        annoy_ids, annoy_distances = table.get_nns_by_vector(v, n=num_neighbours, search_k=search_nodes, include_distances=include_distances)
        neighbours[idx,:] = annoy_ids
        distances[idx,:] = annoy_distances
    return neighbours, distances

#### Since we need to predict ground truth we set prediction as the nearest neighbour

In [51]:
%%time
train_vectors = tfidf_vectorizer.transform(train["clean_name"])
train_vectors_dense = np.squeeze(np.asarray(train_vectors.todense()))
neighbours, distances = get_nearest_neighbours(train_vectors_dense)
neighbour_company_ids= np.vectorize(lambda x: annoy2company[x])(neighbours)

CPU times: user 9min 51s, sys: 543 ms, total: 9min 51s
Wall time: 9min 52s

In [52]:
train_vectors.shape

(11069, 15375)

In [53]:
rank_1 = neighbour_company_ids[:,0]
rank_1

array([438615, 526042, 281405, ...,  26071, 305713, 471477])

In [54]:
train["predicted_id"] = rank_1

In [55]:
train= train.merge(companies[['company_id', 'name']], left_on="predicted_id", 
                   right_on="company_id", suffixes=("","_predicted"))

In [56]:
train[["train_index", "name", "company_id", "predicted_id", "name_predicted"]]

,train_index,name,company_id,predicted_id,name_predicted
0,5,BERK ELEY LLP,438615,438615,BERKELEY PARTNERS LLP
1,9,RBPA Leeuw,526042,526042,RBPA Leeuw
2,19,Waddell & Reed Advisors Funds - Waddell & Reed Advisors Small Cap Fund,281405,281405,Waddell & Reed Advisors Funds - Waddell & Reed Advisors Small Cap Fund
3,22,ESCO TORE S.R.L.,79550,79550,ESCO TORRE S.R.L.
4,72,Russell Total Return Fund.) Ltd.,351412,351412,Russell Total Return Fund (Quarterly) Ltd.
5,83,Cornel Global B.V.,370746,370746,Cornel B.V.
6,57000,Cornel Inves. B.V.,370746,370746,Cornel B.V.
7,123,Tokio Marine iLfe Insurance Singapore Ltd.,285532,285532,Tokio Marine Life Insurance Singapore Ltd.
8,141,RIjSTO RANTE LO DI DI SPV E C. - S.A.S.,211110,211110,RISTORANTE LO STRETTOIO DI PEDRO DI VITO E C. - S.A.S.
9,22804,RISTORANTE FACEC OOK DI HU C. SNC,-1,211110,RISTORANTE LO STRETTOIO DI PEDRO DI VITO E C. - S.A.S.
10,157,Cham äleonreisen GmbH,503871,503871,Chamäleon Reisen GmbH
11,158,SAGA SHIPHOLDINGnorway SICAV) AS,450734,450734,SAGA SHIPHOLDING (NORWAY) AS
12,167,EAGLE FUND,424502,424502,EAGLE FUND
13,176,PRIMCOM SA,634022,634022,PRIMCOM SA
14,181,Snap-on Logistics Company,117137,117137,Snap-on Logistics Company
15,24105,Company-on Logi. nap,117137,117137,Snap-on Logistics Company
16,198,Norstar Integrityltd Holdings,125003,315716,North Star Investment Holdings LLC
17,205,Blabc MI B.V.,495752,442158,C-Mill B.V.
18,65628,C-Miol BV,442158,442158,C-Mill B.V.
19,237,M & Z Associates Inves tment I LLC,276628,276628,M & Z Associates I LLC
20,245,K&H származtatott LIMITED innovatív Amerika tőkevédett zárt végű alap,636832,412027,CIB Aranytartalék 2 Tokevédett Származtatott Alap
21,267,Thomas H Lee Equity VI Access EMP LP,238574,238574,Thomas H Lee Equity VI Access EMP LP
22,64706,Equity H Lee Thomas VI Access EMP Holdi. LP,238574,238574,Thomas H Lee Equity VI Access EMP LP
23,271,Yello wflashpartners Captal LP,385359,385359,Yellowflash Capital Partners LP
24,296,ASSMANN Distribution Trsut Sp. z oo,367282,367282,ASSMANN Distribution Sp. z o.o.
25,326,ALMI LN,72969,72969,ALMI NAVIGATION LIMITED
26,329,SOPRA. STERIA,378164,378164,SOPRA STERIA GROUP
27,332,vPE III VG B.V.,505465,505465,SPE III Van Gogh B.V.
28,342,Cinel ande et Inc.,238415,238415,Cinelande et Associes Inc.
29,361,Morgan Stanleyindia Services Lymited,377777,377777,Morgan Stanley India Services Private Limited
...,...,...,...,...,...
11039,8258,OFFSH. SUPPORT VESSELS V LIMITED,-1,289993,OFFSHORE SUPPORT VESSELS VII LIMITED
11040,44017,Fairfield Belmodt L.P.,-1,345464,"Fairfield Bristol, L.P."
11041,83776,CENTRO ODON. STUDI RIUNITI S.R.L. SIGLABILEcosmer S.R.L.,-1,205714,"STUDI ECONOMICI E PROGETTI INTEGRATI SPA SIGLABILE ""SEPI SPA"""
11042,20203,FFA Filmförderungsanstalt,-1,18692,Erste Abwicklungsanstalt
11043,5782,Lord Abbett Investment Trust - Lord Abbett Yield High LIMITED Fund,-1,391582,Lord Abbett Investment Trust - Lord Abbett Core Fixed Income Fund
11044,9523,"Stichting Aandelen Administratiekantoorprimapa""",-1,573680,Stichting Administratiekantoor GVW
11045,1920,POWERCAT S.A.S. DI CATALANO LUISA & C.,-1,208296,CATALANO MARINA
11046,9994,COM Agroindustrial Corp. Limited,-1,532785,D.B. CORP LIMITED
11047,67181,DBF SRL,-1,14110,C. & F. S.R.L.
11048,46429,Simpeleen Irnc Osuuspankki,-1,361252,Keiteleen Osuuspankki
11049,72330,DATF,-1,223147,INDATECH
11050,60737,FOURNITURE-LA PC,-1,625742,SATURNIA S.R.L.
11051,3264,BIG SURstftung,-1,402742,Reinhard-Süring-Stiftung
11052,84907,Inc nAalyticshost Inve stment.,-1,584739,analyticon instruments gmbh
11053,17646,"Collier Center Inc PT, LLC",-1,438007,"HASC Center, Inc."
11054,73393,Deuts chland LEAD GmbH,-1,245657,Fortis Lease Deutschland GmbH
11055,96774,BULLEX JSC,-1,530681,BUDLEX S.A.
11056,83876,Recycling Limited,-1,218123,VALPAK RECYCLING LIMITED
11057,98603,TERMO IDRAULICA BONFANTI A. S.R.L.,-1,314336,STANDARD HIDRAULICA SA
11058,18904,Enterprises Moody Ptyltd,-1,193158,Woody Paylor Enterprises Ltd.
11059,54001,cNUOVA CC S.P.A.,-1,513450,Banca Nuova S.p.A.
11060,52047,Synapsia SA,-1,40022,SYNAPCELL
11061,64711,INVEST MONE TAIRE 3,-1,623235,INVEST MONETAIRE 4
11062,1788,AHL Man Diversified PCC Lmited - AHL Man Diversified (Guernsey) Class GmbH D JPY Shares,-1,228906,AHL Strategies PCC Limited - Man AHL Diversified 2XL Shares
11063,64354,AMIK ITALIA S.P.A.,-1,396406,OLIP ITALIA S.P.A.
11064,70429,Toyota Auto Rece. 2013-A Owner Trust,-1,112611,First Investors Auto Owner Trust 2013-2
11065,76317,KD GmcH Inve stment,-1,305884,RKD Investment Holdings Limited
11066,66299,"GxRDM Cuatro, LP",-1,14680,CUATROGE SL
11067,34451,BP Explo. (Dleta) Limited,-1,305713,BOREALIS EXPLORATION LIMITED
11068,31145,Isar Valley Capital GmiH,-1,471477,Sugar Valley Inc.

In [57]:
total = train.shape[0]
correct_predictions = train.loc[train["company_id"]==train["predicted_id"]].shape[0]
incorrect_predictions = train.loc[train["company_id"]!=train["predicted_id"]].shape[0]
print "Total %d"%total
print "Accuracy | Correct predictions %f"% (float(correct_predictions)/total)
print "Incorrect predictions %f"% (float(incorrect_predictions)/total)

Total 11069
Accuracy | Correct predictions 0.551721
Incorrect predictions 0.448279

In [58]:
train.loc[train["company_id"]==-1].shape

(3361, 9)

#### Accuracy on excluding -1 cases

In [59]:
train_sub = train.loc[train["company_id"]!=-1]
print np.sum(train_sub["company_id"] == train_sub["predicted_id"])/float(len(train_sub))

0.7922937208095485

That is all!